## Python Basics

### Tuples and Lists

In [1]:
tuple_months = ('January','February','March','April','May','June',\
'July','August','September','October','November','December')

In [2]:
tuple_months

('January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December')

In [3]:
list_cats = ['Tom', 'Snappy', 'Kitty', 'Jessie', 'Chester']

In [4]:
list_cats

['Tom', 'Snappy', 'Kitty', 'Jessie', 'Chester']

In [5]:
print(list_cats[2])

Kitty

In [6]:
list_cats.append('Catherine')

In [7]:
list_cats

['Tom', 'Snappy', 'Kitty', 'Jessie', 'Chester', 'Catherine']

In [8]:
del list_cats[1]

In [9]:
list_cats

['Tom', 'Kitty', 'Jessie', 'Chester', 'Catherine']

### Sets

In [10]:
my_set = {1, 2, 3}

In [11]:
your_set = {4, 2, 5}

In [12]:
my_set | your_set

{1, 2, 3, 4, 5}

In [13]:
my_set & your_set

{2}

### Dictionaries

In [14]:
CO2_by_year = {1799:1, 1800:70, 1801:74, 1802:82, 1902:215630, 2002:1733297}

In [15]:
# Look up the emissions for the given year
CO2_by_year[1801]

74

In [16]:
# Add another year to the dictionary
CO2_by_year[1950] = 734914

In [17]:
CO2_by_year

{1799: 1,
 1800: 70,
 1801: 74,
 1802: 82,
 1902: 215630,
 1950: 734914,
 2002: 1733297}

In [18]:
CO2_by_year[2009] = 1000000
CO2_by_year[2000] = 100000

In [19]:
1950 in CO2_by_year

True

In [20]:
len(CO2_by_year)

9

In [21]:
del CO2_by_year[1950]

In [22]:
len(CO2_by_year)

8

In [23]:
for key in CO2_by_year:
    print(key)

1799
1800
1801
1802
1902
2002
2009
2000

In [24]:
for k in CO2_by_year.keys():
    print(k)

1799
1800
1801
1802
1902
2002
2009
2000

In [25]:
for v in CO2_by_year.values():
    print(v)

1
70
74
82
215630
1733297
1000000
100000

In [26]:
CO2_by_year.values()

dict_values([1, 70, 74, 82, 215630, 1733297, 1000000, 100000])

In [27]:
for key, value in CO2_by_year.items():
    print(key, value)

1799 1
1800 70
1801 74
1802 82
1902 215630
2002 1733297
2009 1000000
2000 100000

### Functions

In [28]:
def convert_to_celsius(fahrenheit):
    ''' (number) -> number
    Return the celsius degrees equivalent to
    fahrenheit degrees.
    '''
    celsius = (fahrenheit - 32) * 5 / 9
    return celsius

In [29]:
convert_to_celsius?

In [30]:
convert_to_celsius(32)

0.0

In [31]:
convert_to_celsius(212)

100.0

In [32]:
convert_to_celsius(-40)

-40.0

In [33]:
def convert_to_kelvin(fahrenheit):
    ''' (number) -> number
    Return the number of kelvin degrees equivalent
    to fahrenheit degrees.
    '''
    kelvin = convert_to_celsius(fahrenheit) + 273.15
    return kelvin

In [34]:
convert_to_kelvin(32)

273.15

In [35]:
import fibo

In [36]:
fibo.fib(4)

1
1
2
3

In [37]:
fibo.fib2(4)

[1, 1, 2, 3]

### List Comprehension

$S = \{x^2 : x ~ \mbox{in} ~ \{0 ... 9\}\}$

In [38]:
S = [x**2 for x in range(10)]
S

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

$V = (1, 2, 4, 8, \ldots , 2^{12})$

In [39]:
V = [2**i for i in range(13)]
V

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

$M = \{ x ~ | ~ x ~ {\rm in} ~ S ~ {\rm and} ~ x ~ {\rm even} \}$

In [40]:
M = [x for x in S if x % 2 == 0]
M

[0, 4, 16, 36, 64]

In [41]:
noprimes = [j for i in range(2, 8) for j in range(i*2, 50, i)]
primes = [x for x in range(2, 50) if x not in noprimes]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [42]:
words = 'The quick brown fox jumps over the lazy dog'.split()
print(words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [43]:
stuff = [[w.upper(), w.lower(), len(w)] for w in words]
stuff

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [44]:
for i in stuff:
    print(i)

['THE', 'the', 3]
['QUICK', 'quick', 5]
['BROWN', 'brown', 5]
['FOX', 'fox', 3]
['JUMPS', 'jumps', 5]
['OVER', 'over', 4]
['THE', 'the', 3]
['LAZY', 'lazy', 4]
['DOG', 'dog', 3]

In [45]:
stuff = map(lambda w: [w.upper(), w.lower(), len(w)], words)
for i in stuff:
    print(i)

['THE', 'the', 3]
['QUICK', 'quick', 5]
['BROWN', 'brown', 5]
['FOX', 'fox', 3]
['JUMPS', 'jumps', 5]
['OVER', 'over', 4]
['THE', 'the', 3]
['LAZY', 'lazy', 4]
['DOG', 'dog', 3]